:root {
  --header-height: 60px;
}

.wrapper {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  overflow: hidden;
  height: 100%;
  margin: 20px auto;
}

main {
  background-color: lightgray;
  border-left: gray 1.5px solid;
  border-right: gray 1.5px solid;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.header {
  margin-top: 10px;
  color: white;
  border-radius: 15px 15px 0 0;
  background-color: gray;
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.header__icon {
  width: 2.125rem;
  height: 2.125rem;
  object-fit: contain;
  margin: 0.5rem 0.7rem;
  filter: drop-shadow(0 0 4px white);
  transition: filter 0.2s ease-in-out;
  animation: pulse 2s infinite;
}
.header__icon:hover {
  cursor: pointer;
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 8px white);
  }
  50% {
    filter: drop-shadow(0 0 2px white);
  }
  100% {
    filter: drop-shadow(0 0 8px white);
  }
}
.header__title {
  font-size: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 240px;
  width: 80%;
  margin: auto;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  width: 70%;
}

.card__figure {
  min-width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  margin: 10px 0;
}

.card__icon {
  height: 3rem;
  border-radius: 15px;
  cursor: pointer;
  padding: 0.5rem;
}

.card__caption {
  color: black;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.card__image {
  height: 180px;
  margin: auto;
  position: absolute;
  bottom: 50%;
}
.stats__general {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card__image-poke {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.stats__title {
  font-size: 17px;
  color: rgb(119, 119, 119);
  width: 50%;
  text-align: start;
  font-weight: 500;
  margin: 10px;
}
.stats__base {
  font-size: 17px;
  color: rgb(119, 119, 119);
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 50%;
  text-align: start;
  font-weight: 500;
  margin: 0;
}

.footer {
  border-radius: 0 0 12px 12px;
  background-color: white;
  border: 1px solid gray;
}

.footer__title {
  margin: 10px auto;
  text-align: center;
  width: 30%;
  font-weight: 300;
}

.footer__minis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: max-content;
  margin: 10px auto;
}

.footer__figure {
  display: flex;
  align-items: center;
  width: 80px;
  margin: auto;
  justify-content: center;
  background-color: lightgray;
  border-radius: 10px;
  cursor: pointer;
  height: 90px;
}

.footer__figure:hover {
  background-color: gray;
  transform: scale(1.1);
}
.footer__img {
  filter: brightness(0) invert(0.1);
  background-blend-mode: darken;
  height: 100%;
}

.footer__img:hover {
  transform: rotateY(360deg);
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
  filter: brightness(1);
}

@media screen and (min-width: 500px) {
  .header {
    margin: 0 auto;
    width: 100%;
  }
  .wrapper {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0;
  }

  .stats {
    width: 30%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
  }

  .card__figure {
    margin: 0;
  }

  .stats__general {
    text-align: center;
    overflow: hidden;
    flex-direction: column;
  }
  .stats__title {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
  }
  .stats__base {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }

  .card {
    height: 300px;
    margin: 0;
    width: 40%;
  }

  .card__image {
    position: static;
    height: 220px;
  }

  .imagePK {
    top: 0;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
  }

  .footer__minis {
    display: flex;
  }

  .footer__figure {
    padding: 5px;
    height: 70px;
    width: 70px;
  }
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */

.isDisabled {
  pointer-events: none;
  opacity: 0.5;
}
